html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Poiret One', cursive;
}

.slide {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#particles {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.3;
}
/** Particles attributes + background **/

#intro {
  display: table-column;
  overflow: hidden;
  background: url("../background.jpg");
  background-size: cover;
  opacity: 0.9;
  font-family: 'Poiret One', cursive;
  position: absolute;
  top: 50%;
  text-align:left;
  color: white;
  z-index: 0;

}
#intro::before {
  content: '';
  position:absolute;
  top: 0;
  right:0;
  bottom:0;
  left:0;
  background-image: linear-gradient(to top right, #003366 10%, #800000 90%);
  opacity: 0.7;
}

/******     ******/

/* First page */

#name {
  left: 0;
  line-height: 200px;
  margin-left: 15%;
  margin-top: 17%;
  position: relative;
  font-size: 70px;
  font-weight:bolder;

}

#description {
  font-size: 15px;
  margin-top: -7%;
  margin-left: 20%;
  opacity: 0.6;

}

/*** About Me ***/

#about {
  padding-top: 60%;
  background-color: white;
  z-index: -10;
  height: 600px;

}
#aboutme {
  font-family: 'Helvetica', sans-serif;
  font-size:
  text-align: right;
  margin-right: 10%;
}

#summary {
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  text-align: left;
  margin-left: 60%;
  margin-right: 15%;
}
